@use "../abstracts/index" as *;

/* ========== Misc. Styles ========== */
*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  line-height: 1.25rem;
}

span {
  display: block;
  margin: 1rem auto;
  text-align: center;
  border: 1px $dark-bg solid;
}

h1 {
  margin-block-start: 0.5em;
  margin-block-end: 0.25em;
  font-family: $header-font;
  color: $dark-bg;
  font-size: 2.75rem;
  line-height: normal;
  text-align: center;
}
h2 {
  text-decoration: underline;
  font-size: 2.25rem;
}
h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
}

.filter-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.input-and-select {
  margin: 0.25rem 0.5rem;
  padding: 0.15rem 0.5rem;
  text-align: center;
  font-family: $main-font;
  color: white;
  background-color: $dark-bg;
  border: none;
  border-radius: 3px;

  box-shadow: 0 2px 3px $dark-bg;
}
.search-bar {
  display: block;
  margin: 1rem auto;
}
::placeholder {
  color: $placeholder-text;
  text-shadow: 0 0 2px $placeholder-text;
}
