@use "../abstracts/index" as *;

/* ========== Fonts ========== */
@font-face {
  font-family: "intruder_alertregular";
  src: url("../../fonts/Intruder-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eczarmedium";
  src: url("../../fonts/Eczar-Medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ========== Misc. Styles ========== */
*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "eczarmedium";
  line-height: 1.25rem;
}

p {
  text-align: center;
  border: 1px $dark-bg solid;
}

h1 {
  font-family: "intruder_alertregular";
  font-size: 2.75rem;
  line-height: normal;
  text-align: center;
}
h2 {
  text-decoration: underline;
  font-size: 2.25rem;
}
h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
}
