@use "../abstracts/index" as *;

ul {
  font-size: 1.2rem;
  list-style: none;
  font-weight: bold;
}
li {
  cursor: pointer;
}

.monster-list {
  padding: 0;
  margin-left: 2vw;
  margin-bottom: 2rem;
  font-size: 1.5rem;

  li {
    border-radius: 3px;
    padding: 7% 0;
    max-width: max-content;

    &:hover {
      background-color: $dark-bg;
      transition: 0.25s;

      a {
        color: white;
        transition: 0.25s;
      }
    }
  }
}
