@use "../abstracts/index" as *;

.monster-info {
  border-radius: 4px;
  width: 100%;
  line-height: 3.5ch;
  letter-spacing: 1.5px;
  color: white;
  background-color: $dark-bg;
}
.main-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.monster-skills-list {
  display: flex;
  padding: 0;
  margin-left: 6vw;
  flex-direction: column;
  font-weight: 400;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
}
h4 {
  margin-left: 4vw;
  font-size: 1.2rem;
}
