@use "../abstracts/index" as *;

.encounter-panel {
  z-index: $z-encounter-panel;

  position: fixed;
  top: 0.35rem;
  bottom: 0.35rem;
  width: $encounter-width;
  left: calc($encounter-width - (2 * $encounter-width) - 1px);

  font-family: $main-font;
  color: $light-bg;
  background-color: $dark-bg;
  padding: 0.75rem;
  box-shadow: 0 0 5px $dark-bg;
  border-radius: 0 $border-radius $border-radius 0;
  overflow-y: scroll;

  transition-property: left;
  transition-duration: 250ms;

  .encounter-monster-name {
    font-family: $header-font;
    letter-spacing: 1px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .encounter-hit-points {
    @include transition(transform filter);

    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      filter: drop-shadow(0 0 5px $light-bg);
    }
  }

  .damage-modal {
    top: 18%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 0.75rem;

    label,
    input,
    select,
    button {
      font-family: $main-font;
      color: $dark-bg;
      font-size: 1rem;
    }
    input[type="number"],
    select,
    button {
      border: 1px solid $dark-bg;
      border-radius: calc($border-radius / 2);
      box-shadow: 0 0 5px $dark-bg;
      width: 100%;
    }
    button {
      @include transition(background-color color);

      cursor: pointer;

      &:hover {
        background-color: $dark-bg;
        color: $light-bg;
      }
    }
  }

  .encounter-actions-heading {
    margin-bottom: 0.5ch;
    text-decoration: underline;
  }

  .encounter-action-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-bottom: 1.5rem;
  }

  .action-btn {
    @include transition(transform box-shadow);

    font-family: $main-font;
    font-size: 1rem;
    font-weight: bold;
    color: $dark-bg;
    padding: 0.35ch 1.75ch;
    border: none;
    box-shadow: 0 0 10px inset $dark-bg;
    border-radius: calc($border-radius / 2);
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1);
    }
  }

  .encounter-legendary-actions {
    display: flex;
    margin-bottom: 1.5rem;

    .leg-actions-heading {
      @include transition(transform filter);

      letter-spacing: 1px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 0 5px $light-bg);
      }
    }
  }
}

.panel-extender {
  position: fixed;
  top: 0.75rem;
  left: $extender-pos-left;

  cursor: pointer;
  font-family: $header-font;
  color: $dark-bg;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 5px black;
  border-radius: 100vw;
  padding: 0.75rem 1rem;

  transition-property: left;
  transition-duration: 250ms;

  @include transition(background-color color);
  &:hover {
    @include onHover($dark-bg, $light-bg);
  }
}

.extender-extended {
  left: calc($extender-pos-left + $encounter-width);

  background-color: $dark-bg;
  color: $light-bg;

  &:hover {
    @include onHover($light-bg, $dark-bg);
  }
}

.extended {
  left: 0;
}
