@use "../abstracts/index" as *;

/* ========== Misc. Styles ========== */
*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  line-height: 1.25rem;
  background-color: $light-bg;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span {
  color: $dark-bg;
  display: block;
  margin: 1rem auto;
  text-align: center;
}

h1 {
  margin-block-start: 0.5em;
  margin-block-end: 0.25em;
  font-family: $header-font;
  color: $dark-bg;
  font-size: 2.75rem;
  line-height: normal;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }
}

.filter-form {
  .submit-button {
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-family: $main-font;
    color: $dark-bg;
    background-color: $light-bg;
    border: 1px solid $dark-bg;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 3px $dark-bg;

    &:active {
      box-shadow: inset 0 0 15px $dark-bg;
      text-shadow: 0 0 1px $dark-bg;
    }
  }
}

.input-and-select {
  margin: 0.25rem 0.5rem;
  padding: 0.15rem 0.5rem;
  text-align: center;
  font-family: $main-font;
  color: $light-bg;
  background-color: $dark-bg;
  border: none;
  border-radius: 3px;

  box-shadow: 0 2px 3px $dark-bg;
}
.search-bar {
  display: block;
  margin: 1rem auto;
}
::placeholder {
  color: $placeholder-text;
  letter-spacing: 1px;
  text-shadow: 0 0 2px $placeholder-text;
}
