@use "../abstracts/index" as *;

/* ========== Misc. Styles ========== */
*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: $tertiary-color;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: $main-font;
  line-height: 1.25rem;
  background-color: $light-bg;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-heading {
  margin-block-start: 0.5em;
  font-family: $header-font;
  color: $dark-bg;
  font-size: 2.75rem;
  line-height: 1.75ch;
  text-align: center;
  text-shadow: 0 2px 5px $dark-bg;
}

.filter-form {
  .filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .input-and-select {
    margin: 0.25rem 0.5rem;
    padding: 0.15rem 0.5rem;
    text-align: center;
    font-family: $main-font;
    color: $light-bg;
    background-color: $dark-bg;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 3px $dark-bg;
    cursor: pointer;

    @include transition(background-color color);
    &:hover {
      @include onHover($light-bg, $dark-bg);
    }
  }

  ::placeholder {
    color: $placeholder-text;
    letter-spacing: 1px;
    text-shadow: 0 0 2px $placeholder-text;
  }

  .submit-button {
    display: block;

    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0.75ch 2ch;
    font-family: $header-font;
    font-weight: 600;
    color: $dark-bg;
    background-color: $light-bg;
    border: 1px solid $dark-bg;
    border-radius: calc($border-radius / 2);
    cursor: pointer;
    box-shadow: 0 0 5px $dark-bg;

    @include transition(background-color color);
    &:hover {
      @include onHover($dark-bg, $light-bg);
    }
  }
}

hr {
  display: block;
  margin: 1.5rem auto 0;

  max-width: 60vw;
}

//Scrollbar
::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-track {
  border-radius: $border-radius;
  background-color: $dark-bg;
  margin-block: 0.2rem;
}
::-webkit-scrollbar-thumb {
  border-radius: $border-radius;
  background-color: $light-bg;
  border: 3px solid $dark-bg;
}
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: $dark-bg $light-bg;
    scrollbar-width: auto;
  }
}
