@use "../abstracts/index" as *;

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal {
  z-index: $top;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;

  display: flex;
  justify-content: center;

  .monster-info-card {
    z-index: 1000;
    position: absolute;
    border-radius: 5px;
    width: min(92%, 650px);
    color: $dark-bg;
    background-color: $light-bg;

    .modal-header {
      border-radius: 5px;
      padding: 0.25rem;
      display: flex;
      align-items: center;

      .monster-name {
        margin: 0 auto;
      }
      .close-x {
        cursor: pointer;
        margin-right: 0;
      }
    }

    .modal-content {
      padding: 0 0.75rem 1rem;

      .core-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .info-heading {
          margin: 0.75rem 0;
          font-size: 1.2rem;
          display: inline-block;
          font-weight: normal;
        }

        .info-block {
          display: flex;
          flex-direction: column;

          .monster-skills-list {
            display: flex;
            padding: 0;
            margin-left: 5vw;
            flex-direction: column;
            font-weight: 400;
          }

          .actions-description {
            margin-top: 0;
          }
        }
      }
    }
  }
}
