@use "../abstracts/index" as *;

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal {
  z-index: $top;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  .monster-info-card {
    border-radius: 5px;
    color: $dark-bg;
    background-color: $light-bg;

    .modal-header {
      border-radius: 5px;
      display: flex;
      justify-content: end;
      align-items: flex-start;
      background-color: $dark-bg;

      .close-x {
        cursor: pointer;
        color: $light-bg;
        font-size: 5ch;
      }
    }

    .modal-content {
      padding: 1rem;

      .monster-name {
        text-align: center;
        text-decoration: underline;
        font-size: 2rem;
      }

      .core-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .info-block {
          display: flex;
          flex-direction: column;
          margin: 0 2.5vw;

          h4 {
            margin: 0.75rem 0;
            font-size: 1.2rem;
            display: inline-block;
            font-weight: normal;
          }

          .monster-skills-list {
            display: flex;
            padding: 0;
            margin-left: 5vw;
            flex-direction: column;
            font-weight: 400;
          }

          .actions-description {
            margin-top: 0;
          }
        }
      }
    }
  }
}
