$dark-bg: hsl(276, 20%, 20%);
$tertiary-color: hsl(275, 20%, 75%);
$light-bg: whitesmoke;
$placeholder-text: hsl(0, 0%, 87%);
//z-index
$z-encounter-panel: 1000;
$z-modal: 100;
//paddings
$card-padding: 0.75ch 1.25ch;
$encounter-width: 250px;

@font-face {
  font-family: "immortalregular";
  src: url("../../fonts/immortal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$header-font: "immortalregular";

@font-face {
  font-family: "eczarmedium";
  src: url("../../fonts/Eczar-Medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$main-font: "eczarmedium";

@mixin transition($properties) {
  transition-property: $properties;
  transition-duration: 0.2s;
}

@mixin onHover($background-color, $color) {
  background-color: $background-color;
  color: $color;
}
