$dark-bg: hsl(275, 20%, 20%);
$tertiary-color: hsl(275, 20%, 75%);
$light-bg: whitesmoke;
$placeholder-text: hsl(0, 0%, 87%);
//z-index
$top: 1000;
//paddings
$card-padding: 0.75ch 1.25ch;

// @font-face {
//   font-family: "intruder_alertregular";
//   src: url("../../fonts/Intruder-webfont.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }
// $header-font: "intruder_alertregular";

@font-face {
  font-family: "immortalregular";
  src: url("../../fonts/immortal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$header-font: "immortalregular";

@font-face {
  font-family: "eczarmedium";
  src: url("../../fonts/Eczar-Medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$main-font: "eczarmedium";
