@use "../abstracts/index" as *;
@forward "./damage-modal";

$encounter-width: 77vw;
$extender-pos-left: 0.75rem;

.extender-btn {
  position: fixed;
  top: 0.75rem;
  left: $extender-pos-left;

  cursor: pointer;
  font-family: $header-font;
  color: $dark-bg;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 5px black;
  border-radius: 100vw;
  padding: 0.75rem 1rem;

  transition-property: left;
  transition-duration: 250ms;

  @include transition(background-color color);
  &:hover {
    @include onHover($dark-bg, $light-bg);
  }
}

.extender-extended {
  left: calc(min($encounter-width, 400px) + $extender-pos-left);
  z-index: calc($z-encounter-panel + 1);

  background-color: $dark-bg;
  color: $light-bg;

  &:hover {
    @include onHover($light-bg, $dark-bg);
  }
}

.encounter-panel {
  z-index: $z-encounter-panel;

  position: fixed;
  top: 0;
  bottom: 0;
  width: min($encounter-width, 400px);
  left: calc($encounter-width - (2 * $encounter-width) - 1px);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;

  font-family: $main-font;
  color: $light-bg;
  background-color: $dark-bg;
  padding: 1rem;
  box-shadow: 0 0 15px $dark-bg;

  transition-property: left;
  transition-duration: 250ms;

  .encounter-monster-name {
    font-family: $header-font;
    letter-spacing: 1px;
    text-decoration: underline;
    text-align: center;
  }

  .encounter-hit-points {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .encounter-actions-heading {
    margin-bottom: 0.5ch;
    text-decoration: underline;
  }

  .encounter-action-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .action-btn {
      width: fit-content;
      background-color: $light-bg;
      padding: 0.5ch 1.5ch;
    }
  }

  .action-btn {
    @include transition(transform box-shadow);

    font-family: $main-font;
    font-size: 1.1rem;
    font-weight: bold;
    color: $dark-bg;
    padding: 0.25ch 1.5ch;
    letter-spacing: 0.3px;
    border: none;
    border-radius: calc($border-radius / 2);
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1);
    }
  }

  .encounter-legendary-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .leg-actions-heading {
      width: min-content;
      letter-spacing: 1px;
    }
    .action-btn {
      letter-spacing: 2px;
    }
  }

  .encounter-log {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: stretch;
    padding: 0.75rem;
    background-color: $light-bg;
    border-radius: 12px;
    overflow-y: scroll;

    box-shadow: 0 0 12px inset $dark-bg;
    color: $dark-bg;
    font-size: 1.1rem;

    .log-item {
      p {
        line-height: 1.9ch;
        margin-left: 0.5rem;
        font-weight: inherit;
      }
      h4 {
        margin-left: 0;
        font-weight: bold;
      }
    }
  }
}

.extended {
  left: 0;
}

// @media screen and (min-width: 4500px) {
//   .encounter-panel {
//     width: 350px;
//   }
// }
